<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="tw.com.bais.wechat"
    version="0.0.1">
    <name>WeChat</name>
    <engines>
        <engine name="cordova" version=">=4.1.1"/>
    </engines>

    <js-module src="www/wechat.js" name="WeChat">
        <clobbers target="wechat" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WeChat">
                <param name="android-package" value="tw.com.bais.wechat.WeChat" />
            </feature>
        </config-file>
        <source-file src="src/android/WeChat.java" target-dir="src/tw/com/bais/wechat" />
	<hook type="after_plugin_install" src="scripts/afterBuild.js" />
    </platform>

</plugin>
